
  <div class="card mb-3">
    <div class="card-header">
      <i class="fas fa-table"></i>
      Courses Table </div>
      <div class="card-bod">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

            <thead class="thead-dark">

              <tr>
                <th>courseCategory</th>
                <th>courseCreator</th>
                <th>courseDescription</th>
                <th>courseImage</th>
                <th>courseName</th>
              </tr>

            </thead>

            <!-- <tfoot class="thead-dark">

              <tr>
                <th>courseCategory</th>
                <th>courseCreator</th>
                <th>courseDescription</th>
                <th>courseImage</th>
                <th>courseName</th>
              </tr>

            </tfoot> -->

            <tbody>

              <tr>
                <td>Mental Skills</td>
                <td>Yasser</td>
                <td> consectetur adipisicing elit.</td>
                <td><img src="../assets/images/courseph.jpg" width="50px" height="50px" /></td>
                <td>teaching strategy</td>
              </tr>

              <tr>
                <td>Mental Skills</td>
                <td>Yasser</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
                <td><img src="../assets/images/courseph.jpg" width="50px" height="50px" /></td>
                <td>teaching strategy</td>
              </tr>

              <tr>
                <td>Mental Skills</td>
                <td>Yasser</td>
                <td> consectetur adipisicing elit.</td>
                <td><img src="../assets/images/courseph.jpg" width="50px" height="50px" /></td>
                <td>teaching strategy</td>
              </tr>

              <tr>
                <td>Mental Skills</td>
                <td>Yasser</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
                <td><img src="../assets/images/courseph.jpg" width="50px" height="50px" /></td>
                <td>teaching strategy</td>
              </tr>

              <tr>
                <td>Mental Skills</td>
                <td>Yasser</td>
                <td>consectetur adipisicing elit.</td>
                <td><img src="../assets/images/courseph.jpg" width="50px" height="50px" /></td>
                <td>teaching strategy</td>
              </tr>

              <tr>
                <td>Mental Skills</td>
                <td>Yasser</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
                <td><img src="../assets/images/courseph.jpg" width="50px" height="50px" /></td>
                <td>teaching strategy</td>
              </tr>

              <tr>
                <td>Mental Skills</td>
                <td>Yasser</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
                <td><img src="../assets/images/courseph.jpg" width="50px" height="50px" /></td>
                <td>teaching strategy</td>
              </tr>


            </tbody>


          </table>

        </div>
      </div>

      <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>

  </div>

